<%- include('../partials/header') %>

<form action="/vessels/<%= vessel.id %>?_method=DELETE" method="POST">
  <p bold> Are you certain to delete this vessel from your account?</p> 
  <br> 
  <p> Vessel name:  <%= vessel.name %></p> 
  <br>
  <button type="submit">Delete Vessel</button>
</form>

<br> <br>
<a href="/vessels/<%= vessel.id %>/edit"> Cancel </a>

<%- include('../partials/footer') %>