<%- include('../partials/header') %>

<table id="list">
<% if (vessels.length > 0) { %>
  <thead>
    <tr>
      <th>Vessels </th>
      <th>Manufacturer </th>
      <th>Year </th>
    </tr>
  </thead>
  <tbody>
        <% vessels.forEach(function(v) { %>
        <tr>
            <td><a href="/vessel/<%= v._id %>"><%= v.name %></a></td>
            <td><%= v.manufacturer  %></td>
            <td><%= v.modelYear  %></td>
        </tr>
        <tr></tr>
        <% }); %>
  <% }  %>
  </tbody>
</table>
 


<% if (vessels.length > 0) { %>
      <br><br>
      <a href="/vessels/new"> Add another vessel </a>
<%} else { %>
      <h3> There are no registered vessels </h3>
      <a href="/vessels/new"> Please add a vessel </a>
<% } %>


<%- include('../partials/footer') %>